# Basic pangaeapy example: dataframe

In [2]:
from pangaeapy import PanDataSet

In [3]:
ds=PanDataSet(896621)

After the dataset object has been instantiated, the data can be accessed using standard pandas data frame methods.
Let's look at the first rows of data with head()

In [8]:
ds.data.head()

       Event  Latitude  Longitude  Elevation     Sample label  Depth  DPA conc
0  201-1226B   -3.0945    -90.818    -3297.0   201-1226B-2H-3    7.9      0.06
1  201-1226B   -3.0945    -90.818    -3297.0   201-1226B-3H-3   16.9      0.10
2  201-1226B   -3.0945    -90.818    -3297.0   201-1226B-5H-3   35.9       NaN
3  201-1226B   -3.0945    -90.818    -3297.0   201-1226B-9H-3   73.9      0.04
4  201-1226B   -3.0945    -90.818    -3297.0  201-1226B-18H-3  159.7      0.04

Now we can take a look at some basic statistics of the data with describe()

In [7]:
ds.data.describe()

         Latitude   Longitude    Elevation       Depth    DPA conc
count  331.000000  331.000000   314.000000  331.000000  220.000000
mean    19.755276   -5.090480 -2365.742038   53.237631    0.740091
std     28.704238  101.973219  1727.865345   89.039942    1.976623
min    -45.964200 -165.644200 -5697.000000    0.015000    0.010000
25%     -3.094100  -89.002300 -3655.000000    3.487500    0.070000
50%     33.020500    4.859200 -2197.500000   15.120000    0.120000
75%     41.176700   87.670000  -903.000000   67.005000    0.290000
max     58.622200  142.201700   -29.000000  629.250000   12.030000

In [9]:
ds.citation

'Wörmer, Lars; Hoshino, Tatsuhiko; Bowles, Marshall W; Viehweger, Bernhard; Adhikari, Rishi Ram; Xiao, Nan; Uramoto, Goichiro; Könneke, Martin; Lazar, Cassandre S; Morono, Yuki; Inagaki, Fumio; Hinrichs, Kai-Uwe (2018): Dipicolinic acid concentration in sediment samples. PANGAEA, https://doi.org/10.1594/PANGAEA.896621, Supplement to: Wörmer, L et al. (2019): Microbial dormancy in the marine subsurface: Global endospore abundance and response to burial. Science Advances, 5(2), eaav1024, https://doi.org/10.1126/sciadv.aav1024'